body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333;
    margin: 0;
}

header {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: #023e8a;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #0096c7;
    border-radius: 5px;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #00b4d8;
}

section {
    display: none;
    padding: 2em;
    background-color: #f7fafc;
    margin: 1em 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #0077b6;
}

footer {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}
